<div class="tab-pane fade show active" id="dashboard-tab">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h5 class="card-title">Total Users</h5>
          <h2 class="card-text">1,234</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card bg-warning text-white">
        <div class="card-body">
          <h5 class="card-title">Total Suspended Users</h5>
          <h2 class="card-text">567</h2>
        </div>
      </div>
    </div>
  </div>
</div>