<% if (typeof successMessage !== 'undefined') { %>
<div class="alert alert-success" role="alert">
  <%= getTranslation(successMessage) %>
</div>
<% } else if (typeof errorMessage !== 'undefined') { %>
<div class="alert alert-danger" role="alert">
  <%= getTranslation(errorMessage) %>
</div>
<% } %>