<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-header bg-danger text-white">
          <h3 class="card-title mb-0">
            <%= getTranslation("client_error.forbidden") %>
          </h3>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= getTranslation("client_error.not_authorized") %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>