<!-- Language selector with globe icon -->
<div class="btn-group mr-2">
  <button
    type="button"
    class="btn btn-outline-success dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="fas fa-globe"></i>
    <span id="selectedLanguage">বাংলা</span>
  </button>
  <div class="dropdown-menu" id="languageDropdown">
    <!-- Dropdown items -->
    <a class="dropdown-item" href="#" onclick="selectLanguage('বাংলা')">
      বাংলা
    </a>
    <a class="dropdown-item" href="#" onclick="selectLanguage('English')">
      English
    </a>
    <!-- Add more language options as needed -->
  </div>
</div>
