<!--
This page has been created following the example link:
https://github.com/twbs/examples/blob/main/starter/index.html
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= getTranslation(title) %></title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

  <!-- Font Awesome -->
  <!-- https://fontawesome.com/docs/web/setup/host-yourself/webfonts#reference-font-awesome-in-your-project -->
  <link href="/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
  <link href="/node_modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet" />

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>

  <%- include('./partials/confirmModal.ejs'); -%>
  <div id="alert-container" class="position-fixed bottom-0 end-0 p-3"></div>

  <%- body %>

  <!-- Bootstrap Bundle with Popper -->
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  <!-- Custom Script -->
  <script src="/js/mainScript.js" type="application/javascript"></script>

</body>

</html>