<nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow">
  <a class="admin-panel text-center btn p-2 m-1 ml-5 col-sm-2 col-md-2 col-lg-2 text-left btn-outline-success" type="button" href="/api/admin">
    এডমিন প্যানেল
  </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav px-3 noticeSection col-lg-6 col-md-4 col-sm-12">
    <li id="noticeBoard" class="nav-item text-nowrap"></li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <i aria-hidden="true" class="fa fa-volume-up my-2 my-sm-0 mr-2 ml-2 sound-control"></i>
    <a class="btn btn-outline-success my-2 my-sm-0 mr-2" href="/password">
      চেঞ্জ পাসওয়ার্ড
    </a>
    <button class="logout btn btn-outline-success my-2 my-sm-0 mr-2" type="button">
      লগ আউট
    </button>
  </form>
</nav>

<div class="toggle">
  <a id="header-toggle" href="#" class="burger active">
    <span></span>
  </a>
</div>