<%- include('./indexNavbar'); -%>
<div class="container-fluid">
  <div class="row">
    <div hidden id="current-username"><%= username %></div>
    <div hidden id="soundPref"><%= soundPref %></div>
    <main
      role="main"
      class="col-md-9 mr-sm-auto col-lg-10 px-md-4 main-section"
    >
      <div class="d-flex flex-column h-100 justify-content-between bg-light">
        <div class="p-2 message-box">
          <a href="javascript:" id="jump-to-last"
            ><i class="fas fa-chevron-down"></i
          ></a>
          <div class="text-center">
            <button id="loadMoreButton" class="btn btn-outline-success">
              <span id="loadMoreText">
                Load More
                <i class="fas fa-arrow-down"></i>
              </span>

              <span
                style="display: none"
                id="loadingSpinner"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </div>
          <ul id="chat" class="message-list list-unstyled"></ul>
        </div>

        <div class="p-2">
          <div
            id="messageForm"
            class="message_write fixed-bottom"
            style="position: relative"
          >
            <form id="messageBox" class="input-group">
              <div style="display: flex; width: 100%">
                <button
                  id="emoji-button"
                  class="emoji-picker__emoji"
                  tabindex="0"
                  title="grinning face"
                  style="font-size: 16px; margin-right: 10px"
                >
                  ðŸ˜€
                </button>
                <textarea
                  data-expandable
                  style="
                    flex: 1;
                    height: 45px;
                    max-height: 38vh;
                    resize: none;
                    width: 100%;
                  "
                  id="message"
                  class="form-control"
                  placeholder="à¦à¦–à¦¾à¦¨à§‡ à¦²à¦¿à¦–à§à¦¨..."
                  autofocus
                ></textarea>
              </div>

              <!-- <textarea data-expandable style="height: 45px; max-height: 38vh; resize: none" id="message" class="form-control" placeholder="Type your message..." autofocus></textarea>
              <button class="btn btn-primary" id="sendButton"><i class="fas fa-paper-plane"></i></button> -->
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('./indexSidebar'); -%>
  </div>
</div>
