<div id="sidebar_wrapper">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 bg-light sidebar collapse d-md-block">
    <div class="sidebar-sticky pt-3">
      <!-- <div class="text-center">
        <button type="button" class="btn btn-outline-warning my-2 my-sm-0 mr-2" style="
              background-color: #ffc107;
              color: #212529;
              border-color: #ffc107;
            ">
          অনলাইন
        </button>
      </div>
      <ul id="users" class="nav flex-column mt-3"></ul> -->
      <div class="p-2">
        <div class="active-users">
          <h5>Active Users</h5>
          <ul id="activeUserList" class="list-unstyled"></ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="toggle">
  <a id="sidebar-toggle" href="#" class="burger active">
    <span></span>
  </a>
</div>